body {
            background-color: lightgrey;
            align-items: center;
        }
        ol{
            background-color: aqua;
            border: 3px solid black;
            width: 50%;
            text-align: center;
            margin-left: 25%;
        }
        li{
            font-size: 30px;
            border: 3px double red;
            padding: 2px;
            background-color: yellow;

        }
        h1{
            text-align: center;
            color: blue;
            font-size: 50px;
        }